.widget-container {
  display: flex;
  justify-content: space-between;
  .widget {
    width: 325px;
    height: 175px;
    background-color: #fff;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px;
    box-shadow: 5px 5px 5px #939393;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    &:hover {
      transform: translate(-5px, -5px);
    }
    &.green {
      background-color: rgb(4, 67, 66);
    }
    &.yellow {
      background-color: rgb(237, 158, 32);
    }
    &.red {
      background-color: rgb(126, 5, 5);
    }
    &.blue {
      background-color: rgb(105, 32, 251);
    }
    @media only screen and (max-width: 1600px) {
      width: 300px;
    }
  }
}
fa-icon {
  font-size: 40px;
}
