<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <fa-icon [icon]="faUserTie"></fa-icon>
    </div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">New accounts</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faCircleDollarToSlot"></fa-icon>
    </div>
    <div class="value">
      <div class="top">295</div>
      <div class="bottom">Total expenses</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faBuilding"></fa-icon>
    </div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">Company value</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <fa-icon [icon]="faUserPlus"></fa-icon>
    </div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">New employees</div>
    </div>
  </div>
</div>
