<div class="top-section">
  <app-top-widgets></app-top-widgets>
</div>
<div class="middle-section">
  <div class="widgets left" id="left">
    <app-sales-by-month></app-sales-by-month>
  </div>
  <div class="widgets right" id="right">
    <app-sales-by-category></app-sales-by-category>
  </div>
</div>
<div class="bottom-section" id="bottom">
  <div class="widgets left" id="bottom-left">
    <app-last-few-transactions></app-last-few-transactions>
  </div>
  <div class="widgets right" id="bottom-right">
    <app-top-three-products></app-top-three-products>
  </div>
</div>
